* {
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: "Roboto", sans-serif;
}

body {
}

#body {
  background-color: rgb(213, 213, 213);
  border-radius: 2em;
  margin: 3em;
}

#control {
  padding: 1em 10em;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  border-radius: 2em;
}

#content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#btnFilter {
  display: inline-block;
  font-size: 1.5em;
}

#spanSearch {
  display: inline-block;
  font-size: 1.5em;
}

.title {
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 0.5em;
}

.idCard {
  text-align: center;
  /* justify-content: space-around; */
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: aliceblue;
  max-width: 25%;
  min-width: 20%;
}

.textItem {
  padding: 0.2em;
}

img {
  height: 5em;
  width: 5em;
}
